#!/bin/sh

# PROVIDE: gaussdb_exporter
# REQUIRE: LOGIN
# KEYWORD: shutdown
#
# rc-script for gaussdb_exporter
#
#
# Add the following lines to /etc/rc.conf.local or /etc/rc.conf
# to enable this service:
#
# gaussdb_exporter_enable (bool):          Set to NO by default.
#               Set it to YES to enable gaussdb_exporter.
# gaussdb_exporter_user (string):          Set user that gaussdb_exporter will run under
#               Default is "nobody".
# gaussdb_exporter_group (string):         Set group that gaussdb_exporter will run under
#               Default is "nobody".
# gaussdb_exporter_args (string):          Set extra arguments to pass to gaussdb_exporter
#               Default is "".
# gaussdb_exporter_listen_address (string):Set ip:port to listen on for web interface and telemetry.
#		Defaults to ":9187"
# gaussdb_exporter_gs_user (string):	    Set the Gaussdb database user
#		Defaults to "gaussdb_exporter"
# gaussdb_exporter_pg_pass (string):	    Set the Gaussdb datase password
#		Default is empty
# gaussdb_exporter_pg_host (string):	    Set the Gaussdb database server
#		Defaults to "localhost"
# gaussdb_exporter_pg_port (string):  	    Set the Gaussdb database port
#		Defaults to "5432"

# Add extra arguments via "gaussdb_exporter_args"
# (see $ gaussdb_exporter --help)


. /etc/rc.subr

name=gaussdb_exporter
rcvar=gaussdb_exporter_enable

load_rc_config $name

: ${gaussdb_exporter_enable:="NO"}
: ${gaussdb_exporter_user:="nobody"}
: ${gaussdb_exporter_group:="nobody"}
: ${gaussdb_exporter_args:=""}
: ${gaussdb_exporter_listen_address:=":9187"}
: ${gaussdb_exporter_pg_user:="gaussdb_exporter"}
: ${gaussdb_exporter_pg_pass:=""}
: ${gaussdb_exporter_pg_host:="localhost"}
: ${gaussdb_exporter_pg_port:="5432"}

gaussdb_exporter_data_source_name="gaussdb://${gaussdb_exporter_pg_user}:${gaussdb_exporter_pg_pass}@${gaussdb_exporter_pg_host}:${gaussdb_exporter_pg_port}/gaussdb?sslmode=disable"


pidfile=/var/run/gaussdb_exporter.pid
command="/usr/sbin/daemon"
procname="/usr/local/bin/gaussdb_exporter"
command_args="-f -p ${pidfile} -T ${name} \
    /usr/bin/env DATA_SOURCE_NAME="${gaussdb_exporter_data_source_name}" ${procname} \
    --web.listen-address=${gaussdb_exporter_listen_address} \
    ${gaussdb_exporter_args}"

start_precmd=gaussdb_exporter_startprecmd

gaussdb_exporter_startprecmd()
{
    if [ ! -e ${pidfile} ]; then
        install -o ${gaussdb_exporter_user} -g ${gaussdb_exporter_group} /dev/null ${pidfile};
    fi
}

load_rc_config $name
run_rc_command "$1"
